/**************************************************/
/*                  G E N E R A L                 */
/**************************************************/
.test_box{
	border-bottom:1px dashed #ccc;
	margin-bottom:15px;
	padding-bottom:15px;
	font:14px Tahoma,Arial,sans-serif;
	clear:both;
	min-height:135px;
}
.test_box img{
	float:left;
	margin-right:10px;
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	width:115px;
}
.test_box span{
	font:italic 16px 'Lucida Console',status-bar,sans-serif;
	color:#666;
	text-align:right;
	display:block;
}
.test_box strong{
	color:rgb(247, 115, 34);
}
.test_box small{
	color:rgb(21, 163, 235);
}
.test_box span.testi_email a{
	text-decoration:none;
	font: 13px 'Lucida Console',status-bar,sans-serif;
	color:#666;
}
.test_box span.testi_email a:hover{
	color:rgb(23, 51, 101);
}
.test_box span.testi_web a{
	text-decoration:none;
	font: 13px 'Lucida Console',status-bar,sans-serif;
	color:#666;
}
.test_box span.testi_web a:hover{
	color:rgb(23, 51, 101);
}
.wl-testimonial{
}
.wl-testimonial li{
	list-style:none;
	margin:0;
	padding:0;
}
.wl-testimonial li img{
	width:70px;
	float:left;
	margin-right:10px;
}
.wl-testimonial li p{
	line-height:17px !important;
	margin-bottom:15px !important;
}
.wl-testimonial li span{
	font:italic 13px 'Lucida Console',status-bar,sans-serif;
	color:#666;
	text-align:right;
	display:block;
}
.wl-testimonial li strong{
	color:rgb(247, 115, 34);
}
.wl-testimonial li small{
	color:rgb(21, 163, 235);
}
